<br><br><br><br><br>
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="md-form">
    <i class="fa fa-lock prefix"></i>
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="md-form">
    <%= f.button "Resend confirmation instructions", class: "btn btn-block btn-lg green-gradient", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
