<br><br><br><br>
<br><br><br><br>
<div class="container-small">
  <div class="card">
    <div class="card-block" style="background:#fff;">
      <div class="form-header green-gradient">
        <h3><i class="fa fa-pencil faa-horizontal animated"></i> Edit <%= resource_name.to_s.humanize %></h3>
      </div>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
        </div>
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <%= f.text_field :last_name, placeholder: "Doe", class: 'form-control' %>
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <%= f.email_field :email, class: 'form-control' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
        <fieldset>
          <p class="text-center">Leave these fields blank if you don't want to change your password.</p>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </fieldset>
        <fieldset>
          <p class="text-center">You must enter your current password to make changes.</p>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <%= f.password_field :current_password, class: 'form-control' %>
          </div>
        </fieldset>
        <div class="md-form">
          <%= f.button "Update", class: "btn btn-block btn-lg green-gradient", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
        </div>
      <% end %>
      </div>
      <div class="md-form text-center">
      <h3>Cancel Account</h3>
      <p>Unhappy? We'll be sad to see you go.</p>
      <%= link_to "", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'fa fa-trash fa-lg fa-fonts' %>
    </div>
  </div>
</div>
<br><br>
<%= link_to "", root_path, class: "fa fa-hand-o-left fa-2x faa-horizontal animated fa-fonts" %>
