
<br><br>
<div class="container-small">
  <div class="card">
    <div class="card-block" style="background:#fff;">
      <div class="form-header blue-gradient">
        <h3><i class="fa fa-pencil faa-horizontal animated"></i> Sign Up</h3>
      </div>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <%= f.text_field :first_name, :autofocus => true, placeholder: "John", class: 'form-control' %>
        </div>
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, placeholder: "Doe", class: 'form-control' %>
        </div>
        <div class="md-form">
          <i class="fa fa-envelope prefix"></i>
          <%= f.email_field :email, placeholder: "johndoe@gmail.com", class: 'form-control' %>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <%= f.password_field :password, placeholder: "Create Password", class: 'form-control' %>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <%= f.password_field :password_confirmation, placeholder: "Repeat password", class: 'form-control' %>
        </div>
        <div class="md-form">
          <%= f.button "Sign up", class: "btn btn-block btn-lg blue-gradient", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
        </div>
      <% end %>
        <p class="black-text">Already have an account? <a href="/users/sign_in">Sign In</a></p>
    </div>
  </div>
</div>
<br><br>
