<br><br><br><br><br><br>
<div class="container-small">
  <div class="card">
    <div class="card-block" style="background:white;">
      <div class="form-header green-gradient">
        <h3><%= current_user.full_name %></h3>
      </div>
      <%= form_for(post) do |f| %>
        <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="md-form">
          <i class="fa fa-camera-retro prefix fa-fonts"></i>
          <%= image_tag(post.image) if post.image? %><br>
          <%= f.file_field :image %>
          <%= f.hidden_field :image_cache %>
        </div>

        <div class="md-form">
          <i class="fa fa-tag prefix fa-fonts"></i>
          <%= f.text_field :title, placeholder: "Enter title", :autofocus => true, class: 'form-control' %>
        </div>

        <div class="md-form">
          <i class="fa fa-pencil prefix fa-fonts"></i>
          <%= f.text_area :content, placeholder: "Enter description", class: 'md-textarea' %>
        </div>

        <div class="md-form">
          <%= f.button class: "btn btn-block btn-lg green-gradient", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
