<br><br><br><br><br>
<!--Main layout-->
<div class="container">

  <div class="row">

    <% Post.all.each do |post| %>

    <!--Main column-->
    <div class="col-lg-8">

      <!--Post-->
      <div class="post-wrapper">
        <!--Post data-->
        <h1 class="h1-responsive"><%= post.title.capitalize %></h1>
        <h5>Written by <a href=""><%= post.user.first_name.capitalize %> <%= post.user.last_name.capitalize %> </a>, <%= post.created_at.strftime("%B %d, %Y")  %></h5>

        <br>

        <!--Featured image -->
        <div class="view overlay hm-white-light z-depth-1-half wow zoomIn" data-wow-offset="5">
          <img src="http://mdbootstrap.com/img/Photos/Slides/img%20(116).jpg" class="img-fluid" alt="">
          <div class="mask">

          </div>
        </div>

        <br>

        <!--Post excerpt-->
        <p><%= truncate(post.content, length: 300) %></p>

        <!--"Read more" button-->
        <%= link_to "See more", post, class: "btn btn-lg green-gradient wow zoomInUp" %>
      </div>
      <!--/.Post-->

      <hr>

    </div>
    <% end %>

  </div>

</div>

<!--/.Main layout-->

<%= link_to 'New Post', new_post_path %>
