<% content_for :title do %>Blog<% end %>
<br><br><br><br><br>
<!--Main layout-->

<div class="container">

            <!--First row-->
            <div class="row mt-1">

                <!--First column-->
                <div class="col-md-12 mb-2">

                    <!--Carousel Wrapper-->
                    <div id="carousel-example-3" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-3" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-3" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-3" data-slide-to="2" class=""></li>
                        </ol>
                        <!--/.Indicators-->

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                                <!--Mask color-->
                                <div class="view hm-black-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(116).jpg" class="img-fluid" alt="">
                                    <div class="full-bg-img">
                                    </div>
                                </div>
                                <!--Caption-->
                                <div class="carousel-caption caption-2">
                                    <div class="animated fadeInDown">
                                        <h2 class="h2-responsive"> My favourite photos from last trip to Europe</h2>
                                    </div>
                                </div>
                                <!--Caption-->
                            </div>
                            <!--/First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">
                                <!--Mask color-->
                                <div class="view hm-black-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20%2897%29.jpg" class="img-fluid" alt="">
                                    <div class="full-bg-img">
                                    </div>
                                </div>
                                <!--Caption-->
                                <div class="carousel-caption caption-2">
                                    <div class="animated fadeInDown">
                                        <h2 class="h2-responsive">My weekend in the nature</h2>
                                    </div>
                                </div>
                                <!--Caption-->
                            </div>
                            <!--/Second slide-->

                            <!--Third slide-->
                            <div class="carousel-item">
                                <!--Mask color-->
                                <div class="view hm-black-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(119).jpg" class="img-fluid" alt="">
                                    <div class="full-bg-img">
                                    </div>
                                </div>
                                <!--Caption-->
                                <div class="carousel-caption caption-2">
                                    <div class="animated fadeInDown">
                                        <h2 class="h2-responsive">Tatras - the best choice for holiday</h2>
                                    </div>
                                </div>
                                <!--Caption-->
                            </div>
                            <!--/Third slide-->
                        </div>
                        <!--/Slides-->

                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->

                    </div>
                    <!--/Carousel Wrapper-->

                </div>
                <!--/First column-->

            </div>
            <!--First row-->

            <!--Second row-->
            <div class="row">

                <!--Newsfeed-->
                <div class="col-lg-8">

                    <div class="divider-new mt-1">
                        <h2>Design</h2>
                    </div>

                    <!--Section: Design-->
                    <section class="section text-center text-lg-left">

                        <!--First row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Things/4-col/img%20%286%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">01/02/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/First row-->

                        <!--Second row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28129%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">31/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Second row-->

                        <!--Third row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/4-col/img%20%2812%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">30/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Third row-->

                    </section>
                    <!--/Section: Design-->

                    <div class="divider-new">
                        <h2>Travels</h2>
                    </div>

                    <!--Section: Travels-->
                    <section class="section text-center text-lg-left">

                        <!--First row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28122%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">29/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/First row-->

                        <!--Second row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28117%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">28/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Second row-->

                        <!--Third row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28120%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">27/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Third row-->

                    </section>
                    <!--/Section: Travels-->

                    <div class="divider-new">
                        <h2>Recent posts</h2>
                    </div>

                    <!--Section: Recent posts-->
                    <section class="section text-center text-lg-left">

                        <!--First row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/4-col/img%20%2811%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">26/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/First row-->

                        <!--Second row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2846%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">25/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Second row-->

                        <!--Third row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2856%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">24/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Third row-->

                        <!--Fourth row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2857%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">23/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Fourth row-->

                        <!--Fifth row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28126%29.jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">22/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Fifth row-->

                        <!--Sixth row-->
                        <div class="row mb-3">

                            <!--First column-->
                            <div class="col-lg-5 mb-1-half">

                                <!--Image-->
                                <div class="view hm-white-slight">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Things/4-col/img%20(8).jpg" class="img-fluid" alt="Post Image">
                                    <div class="mask waves-effect waves-light"></div>
                                </div>
                                <!--/Image-->

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-lg-7">

                                <!--Excerpt-->
                                <h6 class="text-muted mb-1">21/01/2017</h6>
                                <h4 class="font-up mb-1"><a href="#!" class="text-muted font-thin">This is title of the news</a></h4>
                                <p class="text-muted font-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nesciunt esse vero adipisci commodi laborum fugiat aperiam rem illum corrupti aliquid labore quod.</p>
                                <a href="#!" type="button" class="btn green-gradient waves-effect">Read more</a>
                                <!--/Excerpt-->

                            </div>
                            <!--/Second column-->

                        </div>
                        <!--/Sixth row-->

                    </section>
                    <!--/Section: Recent posts-->

                    <!--Pagination dark grey-->
                    <nav>
                       <ul class="pagination pg-darkgrey flex-center mt-5 mb-5">
                           <!--Arrow left-->
                           <li class="page-item">
                               <a class="page-link waves-effect waves-effect" aria-label="Previous">
                                   <span aria-hidden="true">«</span>
                                   <span class="sr-only">Previous</span>
                               </a>
                           </li>

                           <!--Numbers-->
                           <li class="page-item active"><a class="page-link waves-effect waves-effect">1</a></li>
                           <li class="page-item"><a class="page-link waves-effect waves-effect">2</a></li>
                           <li class="page-item"><a class="page-link waves-effect <wa></wa>ves-effect">3</a></li>
                           <li class="page-item"><a class="page-link waves-effect waves-effect">4</a></li>
                           <li class="page-item"><a class="page-link waves-effect waves-effect">5</a></li>

                           <!--Arrow right-->
                           <li class="page-item">
                               <a class="page-link waves-effect waves-effect" aria-label="Next">
                                   <span aria-hidden="true">»</span>
                                   <span class="sr-only">Next</span>
                               </a>
                           </li>
                       </ul>
                    </nav>
                    <!--/Pagination dark grey-->

                </div>
                <!--/Newsfeed-->

                <!--Sidebar-->
                <div class="col-lg-4">

                    <!--Author card-->
                    <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                        <!--Card-->
                        <div class="card author-card">

                            <!--Background image-->
                            <div class="card-up">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20%28120%29.jpg" class="img-fluid">
                            </div>

                            <!--Avatar-->
                            <div class="avatar">
                                <img src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/17362774_10208465769028124_1599881355786113622_n.jpg?oh=6c610a521dba3e29fd327cc6cf9c690f&oe=598D250B" class="img-fluid img-author">
                            </div>

                            <div class="card-block">

                                <!--Name-->
                                <h4 class="card-title font-up">Nancy Destin</h4>
                                <!--Description-->
                                <p class="font-thin">Hello, I'm Nancy I've 22 years old and my biggest passion is physical therapy. I love travel around the world and take photos of wild animals, landscapes and local people.</p>

                                <!--Dribbble-->
                                <a class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a>
                                <!--Instagram-->
                                <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                                <!--Pinterest-->
                                <a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a>

                            </div>

                        </div>
                        <!--/Card-->

                    </section>
                    <!--/Author card-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3>Featured posts</h3>
                    </div>

                    <!--Featured posts-->
                    <section class="section">

                        <!--First row-->
                        <div class="row">

                            <!--First column-->
                            <div class="col-md-12">

                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/8-col/img%20%2857%29.jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Post data-->
                                <div class="mb-3-half font-thin">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 23/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 145</span>
                                </div>

                                <!--Post title-->
                                <a href="#!" class="text-hover font-thin">This is title of the news</a>
                                <div class="post-border pt-1"></div>

                            </div>
                            <!--/First column-->

                            <!--Second column-->
                            <div class="col-md-12">

                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20%28131%29.jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Post data-->
                                <div class="mb-3-half font-thin">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 22/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 128</span>
                                </div>

                                <!--Post title-->
                                <a href="#!" class="text-hover font-thin">This is title of the news</a>
                                <div class="post-border pt-1"></div>

                            </div>
                            <!--/Second column-->

                            <!--Third column-->
                            <div class="col-md-12">

                                <!--Image-->
                                <div class="view overlay hm-white-slight mb-1">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20%28120%29.jpg" class="img-fluid" alt="Post">
                                    <a href="#!">
                                        <div class="mask waves-effect waves-light"></div>
                                    </a>
                                </div>

                                <!--Post data-->
                                <div class="mb-3-half font-thin">
                                    <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 21/10/2017</p>
                                    <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 203</span>
                                </div>

                                <!--Post title-->
                                <a href="#!" class="text-hover font-thin">This is title of the news</a>
                                <div class="post-border pt-1 mb-0"></div>

                            </div>
                            <!--/Third column-->

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Featured posts-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3>Newsletter</h3>
                    </div>

                    <!--Newsletter-->
                    <section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">

                            <!--First column-->
                            <div class="col-md-12">

                                <!--Form without header-->
                                <div class="card">
                                    <div class="card-block">

                                        <!--Header-->
                                        <div class="text-center">
                                            <h2 class="mt-1"><i class="fa fa-pencil"></i> Subscribe:</h2>
                                            <hr class="mt-2 mb-2">
                                        </div>

                                        <!--Body-->
                                        <p class="font-thin">We'll write rarely, but only the best content.</p>
                                        <br>

                                        <!--Body-->
                                        <div class="md-form">
                                            <i class="fa fa-user prefix"></i>
                                            <input type="text" id="form3" class="form-control">
                                            <label for="form3" class="font-thin">Your name</label>
                                        </div>

                                        <div class="md-form">
                                            <i class="fa fa-envelope prefix"></i>
                                            <input type="text" id="form2" class="form-control">
                                            <label for="form2" class="font-thin">Your email</label>
                                        </div>

                                        <div class="text-center">
                                            <button class="btn btn-default waves-effect waves-light">Send</button>
                                        </div>

                                    </div>
                                </div>
                                <!--/Form without header-->

                            </div>
                            <!--/First column-->

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Newsletter-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3>Popular posts</h3>
                    </div>

                    <!--Section: Popular posts-->
                    <section class="section">

                        <div class="post-border">

                            <!--First row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28125%29.jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half font-thin">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 20/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 215</span>
                                    </div>

                                    <a href="#!" class="text-hover font-thin">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/First row-->

                        </div>

                        <div class="post-border">

                            <!--Second row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28123%29.jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half font-thin">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 19/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 176</span>
                                    </div>

                                    <a href="#!" class="text-hover font-thin">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/Second row-->

                        </div>

                        <div class="post-border">

                            <!--Third row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28119%29.jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half font-thin">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 18/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 190</span>
                                    </div>

                                    <a href="#!" class="text-hover font-thin">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/Third row-->

                        </div>

                        <div class="post-border">

                            <!--Fourth row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2892%29.jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half font-thin">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 17/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 278</span>
                                    </div>

                                    <a href="#!" class="text-hover font-thin">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/Fourth row-->

                        </div>

                        <div class="post-border">

                            <!--Fifth row-->
                            <div class="row">

                                <!--First column-->
                                <div class="col-4">

                                    <!--Image-->
                                    <div class="view overlay hm-white-slight mb-1-half">
                                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28132%29.jpg" class="img-fluid" alt="Post">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>

                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-8 mb-1">

                                    <!--Post data-->
                                    <div class="mb-2-half font-thin">
                                        <p class="text-muted float-left"><i class="fa fa-clock-o"></i> 16/01/2017</p>
                                        <span class="text-muted float-right"><i class="fa fa-comments-o"></i> 321</span>
                                    </div>

                                    <a href="#!" class="text-hover font-thin">This is news title</a>

                                </div>
                                <!--/Second column-->

                            </div>
                            <!--/Fifth row-->

                        </div>

                    </section>
                    <!--Section: Popular posts-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3 class="h3-responsive">Archive</h3>
                    </div>

                    <!--Archive-->
                    <section class="archive wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">

                            <!--First column-->
                            <div class="col-md-12 text-center">

                                <!--List-->
                                <ul>
                                    <li>
                                        <h5><a href="#!">August 2016</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#!">July 2016</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#!">June 2016</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#!">May 2016</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#!">April 2016</a></h5>
                                    </li>
                                </ul>
                                <!--List-->

                            </div>
                            <!--First column-->

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Archive-->

                    <div class="divider-new wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                        <h3 class="h3-responsive">Follow @Nancy</h3>
                    </div>

                    <!--Instagram-->
                    <section class="sidebar-imgs wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">

                            <!--First column-->
                            <div class="col-md-12">

                                <!--Instagram Photos-->
                                <ul class="instagram-photos mb-0">
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(5).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(3).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(1).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>

                                    <div class="hidden-xs-down no-height"><br></div>

                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(8).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(2).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(7).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>

                                    <div class="hidden-xs-down no-height"><br></div>

                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(6).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(4).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(9).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <!--/Instagram photos -->

                           </div>
                           <!--/First column-->

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Instagram-->

                </div>
                <!--/Sidebar-->

            </div>
            <!--/Second row-->

        </div>

<div class="container">
  <div class="row">
    <% Post.all.each do |post| %>

    <!--Main column-->
    <div class="col-md-8">

      <!--Post-->
      <div class="post-wrapper">
        <!--Post data-->
        <h1 class="h1-responsive"><%= post.title.capitalize %></h1>
        <h5>Written by <a href=""><%= post.user.first_name.capitalize %> <%= post.user.last_name.capitalize %> </a>, <%= post.created_at.strftime("%B %d, %Y")  %></h5>

        <br>

        <!--Featured image -->
        <div class="view overlay hm-white-light z-depth-1-half wow zoomIn" data-wow-offset="5">
          <%= image_tag(post.image, class: "img-responsive" )%>
          <div class="mask">

          </div>
        </div>

        <br>

        <!--Post excerpt-->
        <p><%= truncate(post.content, length: 300) %></p>

        <!--"Read more" button-->
        <%= link_to "See more", post, class: "btn btn-lg green-gradient wow zoomInUp" %>
      </div>
      <!--/.Post-->

      <hr>

    </div>
    <% end %>

  </div>

</div>

<!--/.Main layout-->

<%= link_to 'New Post', new_post_path %>
