<br><br><br><br><br>
<div class="container-small">
  <div class="card">
    <div class="card-block">
      <div class="form-header indigo btn-outline-white">
        <h3>
            Review
        </h3>
      </div>
      <%= form_for([@exercise, @review]) do |f| %>
        <% if review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

            <ul>
            <% review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="center" data-turbolinks="false">
          <div id="star-rating" data-score=<%= review.rating %>></div>
        </div>

        <div class="md-form">
          <i class="fa fa-comment-o fa-2x prefix fa-fonts" aria-hidden="true"></i>
          <%= f.text_area :comment, class: "md-textarea" %>
        </div>

        <div class="md-form">
          <%= f.button class: "btn btn-block btn-outline-white indigo waves-effect waves-light", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>Processing..."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br><br>
<%= link_to "", exercises_path, class: "fa fa-hand-o-left fa-2x faa-horizontal animated fa-fonts" %>

<script type="text/javascript">
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/yelp-clone-rails/stars',
    scoreName: 'review[rating]'
  });
</script>