<% content_for :title do %>Exercises<% end %>
<br><br><br><br><br>
<!-- <iframe width="100%" height="320" src="https://www.youtube.com/embed/7qHInWs_3mY" frameborder="0" allowfullscreen></iframe> -->
<div class="container">
  <!--Section: Blog v.1-->
  <section class="section extra-margins">

      <!--Section heading-->
      <h1 class="section-heading">Exercises</h1>
      <!--Section sescription-->
      <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <% @exercises.each do |exercise| %>
      <!--First row-->
      <div class="row">

          <!--First column-->
          <div class="col-md-5 mb-r">
              <!--Featured image-->
              <div class="overlay hm-white-slight">
                  <%= link_to image_tag(exercise.image.url, class: "img-fluid"), exercise if exercise.image? %>
                  <a>
                      <div class="mask waves-effect waves-light"></div>
                  </a>
              </div>
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-7 mb-r">
              <!--Excerpt-->
              <h4><i class="fa fa-line-chart"></i> <%= link_to exercise.title, exercise %></h4>
              <p><%= exercise.workout %></p>
              <p>by <a><strong><%= exercise.user.first_name.capitalize %> <%= exercise.user.last_name.capitalize %></strong></a>, <%= time_ago_in_words(exercise.created_at) %> ago</p>
              <span class="left"><i class="fa fa-calendar"></i> <%= exercise.workout_date %></span>
              <%= link_to 'See more', exercise, toggle: "tooltip", placement: "top", title: "Quick Look", class: "btn btn-block btn-outline-white indigo waves-effect waves-light" %>
          </div>
          <!--/Second column-->

      </div>
      <!--/First row-->
      <% end %>

      <hr>



  </section>
  <!--/Section: Blog v.1-->
</div>
<div id="star-rating" data-score= <%= @review %> ></div>
<script type="text/javascript">
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/yelp-clone-rails/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
