<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Generationsrs" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Generationsrs" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="font-awesome-animation.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled.min.css" rel="stylesheet">
  </head>
  <body class="fixed-sn cyan-skin">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </div>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/scripts' %>
  </body>
</html>
